<div class="footer">
    <hr>
    <div class="container">
        
        <ul class="list-group list-group-horizontal mb-3">
            <li class="list-group-item">Français (France)</li>
            <li class="list-group-item">English (US)</li>
            <li class="list-group-item">Español</li>
            <li class="list-group-item">+</li>
        </ul>
        
        
        <div class="condition">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><a href="#">Conditions générales</a></li>
                <li class="list-group-item"><a href="#">Aide</a></li>
                <li class="list-group-item"><a href="#">Politique de données</a></li>
            </ul>
            
            
        </div>
    </div>
</div>
